@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
}




.btn {
 font-family: 'Poppins', sans-serif !important;
display: flex;
align-items: center;
gap: 6px;
padding: 8px 20px;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 0.08em;

border: 2px solid rgba(255, 255, 255, 0.25);
color: white;

background-color: transparent; /* this is the key */

cursor: pointer;
transition: all 0.3s ease;

}


.btn:hover {
  border-color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.05);
}

.btn .icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.btn:hover .icon {
  transform: translateX(4px);
}

h1 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.1;
  font-size: 70px;
  color: white;
}
/* Tablets */
@media (max-width: 1024px) {
  h1 {
    font-size: 80px;
    font-weight: 800;
    line-height: 1.0;

  }
}

/* Small screens (mobiles) */
@media (max-width: 640px) {
  h1 {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
  }
}



p{
  font-family: 'Poppins', sans-serif !important;
  }

h2{
  font-family: 'Poppins', sans-serif !important;
  color: black;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.1;
  font-size: 48px;

}


